body{
    background-color: black;
    color: white;
    text-decoration: none;
}

nav{
    text-align: center;
    margin-top: 10px;
}

header{
    text-align: center;
}

article{
    text-align: center;
}

.banner{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.imóveis{
    display: inline-grid;
    align-items: center;

}

.container{
    display: flex;
    justify-content: center;
}

.tabela{
    display: flex;
    justify-content: center;
}

footer{
    text-align: center;
    border-top: 1px solid #333;
    bottom: 0;
    left: 0;
    height: 40px;
    position: fixed;
    width: 100%;
}

h2 {
    text-align: center;
}